<main class="main-content">
    <header class="header-section">
        <div>
            <h1 class="page-title">Dashboard</h1>
            <p class="page-subtitle">View all status from the dashboard</p>
        </div>

        <div class="user-profile">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bb0745711ce6133076d46e9679fb39046eda8008659709e00d84e588f01f7b1?placeholderIfAbsent=true&apiKey=c01b0b1f77f44db1a01eba6bb534c16f"
                alt="User Profile" class="profile-image">
            <div class="profile-info">
                <span class="profile-name">Nguyen Phuong</span>
                <span class="profile-email">dsun.agency@gmail.com</span>
            </div>
            <button aria-label="User menu" class="profile-menu">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d06db6e006919a5ea636ac00218298dc8ea375846d2fc7f39ffddf2b532ee929?placeholderIfAbsent=true&apiKey=c01b0b1f77f44db1a01eba6bb534c16f"
                    alt="">
            </button>
        </div>
    </header>
    <script>
        
        let token = localStorage.getItem('token');
        let user = JSON.parse(sessionStorage.getItem('user'));
        if(token == null, user == null){
            alert('Bạn cần đăng nhập để sử dụng chức năng này')
            window.location.href = '/admin/login'
        }
    </script>


</main>