<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="sidebar">
                <div class="sidebar-container">
                    <div class="logo-container">
                        <h1 class="menu-title">MENU</h1>
                    </div>
                    <ul class="nav-list">
                        <a href="/admin">
                            <li class="nav-item">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5af282c37c0f436c33e354b13a931e594c9b0fc5a034d7591d8da91bb5a4a424?placeholderIfAbsent=true&apiKey=c01b0b1f77f44db1a01eba6bb534c16f"
                                    alt="" class="menu-icon" />
                                <span class="nav-text">Dashboard</span>
                            </li>
                        </a>
                        </li>
                        <a href="/admin/adminproduct">
                            <li class="nav-item">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5350863a06783e4bf9b4aa0634243d31b0463445f99b065c340c3ce74a6c916b?placeholderIfAbsent=true&apiKey=c01b0b1f77f44db1a01eba6bb534c16f"
                                    alt="Products Icon" class="nav-icon">
                                <span class="nav-text">Sản Phẩm</span>
                            </li>
                        </a>
                        <a href="/admin/admincategory">
                            <li class="nav-item">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3712ac4a7354166f6e80771222e1e7f1138923ef14f38ce37c0310f671f54be7?placeholderIfAbsent=true&apiKey=c01b0b1f77f44db1a01eba6bb534c16f"
                                    alt="Services Icon" class="nav-icon">
                                <span class="nav-text">Danh Mục</span>
                            </li>
                        </a>
                        <a href="./news.html">
                            <li class="nav-item">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e8d7073cfcd31f3f0457bab58027fb4609dc9f2a82cbc0fa91aec8b2bdd224e4?placeholderIfAbsent=true&apiKey=c01b0b1f77f44db1a01eba6bb534c16f"
                                    alt="News Icon" class="nav-icon">
                                <span class="nav-text">Tin Tức</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <%- body %>
        </div>
    </main>
</body>

</html>