<!-- Example HTML -->
<section class="cart">
    <div class="container">
        <div class="cart__title">
            <h3 class="title">YOUR CART</h3>
        </div>
        <div class="cart__product">
            <div class="cart__product-list">
                <div class="wrap-item">
                    <div class="img">
                        <img src="./img/alsolike1.png" alt="" />
                    </div>
                    <div class="product-info">
                        <p class="title">Gradient Graphic T-shirt</p>
                        <p>Size: <span>Large</span></p>
                        <p>Color: <span>White</span></p>
                        <p>$145</p>
                    </div>
                    <div class="crud">
                        <button><i class="fa-solid fa-trash-can"></i></button>
                        <div class="available">
                            <button>-</button>
                            <span class="indexOfProduct">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="wrap-item">
                    <div class="img">
                        <img src="./img/alsolike2.png" alt="" />
                    </div>
                    <div class="product-info">
                        <p class="title">Gradient Graphic T-shirt</p>
                        <p>Size: <span>Large</span></p>
                        <p>Color: <span>White</span></p>
                        <p>$145</p>
                    </div>
                    <div class="crud">
                        <button><i class="fa-solid fa-trash-can"></i></button>
                        <div class="available">
                            <button>-</button>
                            <span class="indexOfProduct">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="wrap-item">
                    <div class="img">
                        <img src="./img/alsolike3.png" alt="" />
                    </div>
                    <div class="product-info">
                        <p class="title">Gradient Graphic T-shirt</p>
                        <p>Size: <span>Large</span></p>
                        <p>Color: <span>White</span></p>
                        <p>$145</p>
                    </div>
                    <div class="crud">
                        <button><i class="fa-solid fa-trash-can"></i></button>
                        <div class="available">
                            <button>-</button>
                            <span class="indexOfProduct">1</span>
                            <button>+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart__product-checkout">
                <p class="title">Order Summary</p>
                <div class="payment">
                    <p>Subtotal <span>$565</span></p>
                    <p>Discount <span> (-20%)</span> <span>-$113</span></p>
                    <p>Delivery Fee: <span>$15</span></p>
                </div>
                <hr />
                <div class="total">
                    <p>Total <span>$467</span></p>
                </div>
                <div class="promotion">
                    <div class="wrapper">
                        <i class="fa-solid fa-tag"></i>
                        <input type="text" placeholder="Add Promo Code" />
                    </div>
                    <button>Apply</button>
                </div>
                <div class="ctaCheckout">
                    <a href="#">Go to Checkout <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>